:root {
    --primary-color-900: #262353;
    --primary-color-500: #4e566f;
    --primary-color-400: #7e879f;
    --primary-color-100: #c1bac3;
  
    //secondary
    --secondary-color-900: #11a8a0;
    --secondary-color-700: #57c3bc;
    --secondary-color-500: #a0d5d2;
    --secondary-color-200: #cfeae8;
    --secondary-color-100: #e9f7f7;
  
    //dark
  
    --dark-color-900: #1a1a1a;
    --dark-color-800: #555;
    --dark-color-700: #4d4c4d;
    --dark-color-600: #7e7e7f;
    --dark-color-500: #929292;
    --dark-color-400: #b3b2b2;
    --dark-color-200: #cdcdcc;
    --dark-color-100: #e6e7e7;
  
    --error-color-700: #a62b2b;
    --error-color-500: #e53e3e;
  }
  